.examples {
    padding: 102px 0 0;
    background-color: #ffffff;
}
.examples__box {
    h3 {
        font-family: 'Kaushan Script';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 44px;
        color: #2D3033;
        text-align: center;

        @media (max-width: 1024px) {
            font-size: 24px;
            line-height: 35px;
        }
        @media (max-width: 768px) {
            line-height: 28px;
        }
    }
    h2 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;
        color: #2D3033;
        text-transform: uppercase;
        text-align: center;
        margin: 15px 0 30px;

        @media (max-width: 1024px) {
            font-size: 24px;
            line-height: 28px;
        }
    }
    .ex__line {
        width: 170px;
        height: 4px;
        background-color: #F38281;
        margin: 0 auto;

        @media (max-width: 1024px) {
           width: 146px;
        }
        @media (max-width: 768px) {
            width: 133px;
        }
    }
    p {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        margin: 40px 0 80px;

        @media (max-width: 1024px) {
            font-size: 14px;
            line-height: 16px;
         }
    }
}
.gallery {
    width: 100%;
    display: grid;
    gap: 0;
    grid-template-areas:
        "A B C D"
        "E F C N" ;
    .gallery__photo1 {
        grid-area: A;
    }
    .gallery__photo2 {
        grid-area: B;
    }
    .gallery__photo3 {
        grid-area: C;
    }
    .gallery__photo4 {
        grid-area: D;
    }
    .gallery__photo5 {
        grid-area: E;
    }
    .gallery__photo6 {
        grid-area: F;
    }
    .gallery__photo7 {
        grid-area: N;
    }

    @media (max-width:768px) {
        grid-template-areas:
        "A C"
        "E C"
        "N C"
        "D B"
        "F F";

        margin: 0 auto;
    }
    .act {
        position: relative;

        &:hover {
            .hover__photo {
                opacity: 1;
                transition: all 0.6s ease;
            }
        }
        img {
            @media (max-width:1024px) {
                max-width: 255px;
            }
            @media (max-width:768px) {
                max-width: 159px;
            }

        }
        .hover__photo {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 0;

            @media (max-width:768px) {
                display: none;
            }

            p {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                text-align: center;
                color: #FFFFFF;
                margin-top: 61px;
                text-transform: uppercase;

                @media (max-width:1024px) {
                    font-size: 18px;
                    line-height: 21px;
                }
            }
            span {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                text-align: center;
                color: #FFFFFF;

                @media (max-width:1024px) {
                    font-size: 14px;
                    line-height: 16px;
                }

            }
        }
        .gallery__photo3 {
            @media (max-width:768px) {
                height: 100%;
            }
        }
        .gallery__photo6 {
            @media (max-width:768px) {
                justify-items: stretch;
            }
        }
    }
}