<<<<<<< HEAD
@import "./about.scss";
=======
<<<<<<< HEAD
@import "./intro.scss";
=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./header.scss";
@import url(./devices.scss);

.content {
    max-width: calc(1170px + 15px*2);
    padding: 0 15px;
    margin: 0 auto;

    @media (max-width:1024px) {
        padding: 0 16px;
    }
}
>>>>>>> main
>>>>>>> ddca0a465f2dc286c85eb7a147ddbc89136049e3
